TelegramBotLEDControl/nodered_flow/flows.json
[{"id":"3a912c7a.731e7c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1fe4154.964d48","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"710e3918.3ebf8","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7d1fb57c.f09934","type":"nats-streaming-server","z":"","server":"pieterdev.duckdns.org","port":"4222","cluster":"test-cluster"},{"id":"6229c8c6.bea1e8","type":"nats-streaming-server","z":"","server":"192.168.10.16","port":"4222","cluster":"test-cluster"},{"id":"c508e412.1fe548","type":"telegram bot","z":"","botname":"Arduino_LED_Monitor","usernames":"","chatids":"915660758","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"44b24353.cf7d3c","type":"serial out","z":"3a912c7a.731e7c","name":"TO Arduino ACM0","serial":"c1fe4154.964d48","x":910,"y":820,"wires":[]},{"id":"e5ee3715.ffd2c8","type":"telegram command","z":"3a912c7a.731e7c","name":"/start","command":"/start","bot":"c508e412.1fe548","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":470,"y":480,"wires":[["35bac247.e1239e"],[]]},{"id":"a16e6db6.c62d3","type":"telegram sender","z":"3a912c7a.731e7c","name":"","bot":"c508e412.1fe548","haserroroutput":false,"outputs":1,"x":830,"y":440,"wires":[[]]},{"id":"35bac247.e1239e","type":"function","z":"3a912c7a.731e7c","name":"startMessage","func":"msg.payload.content = \n`Welcome to the Arduino fopdosser bot!\n\nYou can send:\n\n/red - toggle RED LED\n/orange - toggle ORANGE LED\n/green - toggle GREEN LED\n/on - all ON\n/off - all OFF\n/photo - get photo of state\n\n/help - print this message\n`;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["a16e6db6.c62d3"]]},{"id":"2ce5b049.99a4d","type":"telegram command","z":"3a912c7a.731e7c","name":"/red","command":"/red","bot":"c508e412.1fe548","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":470,"y":560,"wires":[["3f3980fd.dea73"]]},{"id":"df544aa8.43f448","type":"telegram command","z":"3a912c7a.731e7c","name":"/orange","command":"/orange","bot":"c508e412.1fe548","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":470,"y":620,"wires":[["f514b259.3733c"]]},{"id":"3fbe6a30.442ec6","type":"telegram command","z":"3a912c7a.731e7c","name":"/green","command":"/green","bot":"c508e412.1fe548","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":470,"y":680,"wires":[["fd1d8b3a.cd8bc8"]]},{"id":"3f3980fd.dea73","type":"function","z":"3a912c7a.731e7c","name":"redMessage","func":"msg.payload = \"red\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["44b24353.cf7d3c"]]},{"id":"f514b259.3733c","type":"function","z":"3a912c7a.731e7c","name":"orangeMessage","func":"msg.payload = \"orange\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":620,"wires":[["44b24353.cf7d3c"]]},{"id":"fd1d8b3a.cd8bc8","type":"function","z":"3a912c7a.731e7c","name":"greenMessage","func":"msg.payload = \"green\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":680,"wires":[["44b24353.cf7d3c"]]},{"id":"8838ee0e.50954","type":"serial in","z":"3a912c7a.731e7c","name":"FROM Arduino","serial":"c1fe4154.964d48","x":500,"y":260,"wires":[["f57c192c.b234e8"]]},{"id":"4f2568c1.1f6928","type":"telegram command","z":"3a912c7a.731e7c","name":"/help","command":"/help","bot":"c508e412.1fe548","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":470,"y":420,"wires":[["35bac247.e1239e"],[]]},{"id":"b41a58c8.9a5bb8","type":"telegram command","z":"3a912c7a.731e7c","name":"/on","command":"/on","bot":"c508e412.1fe548","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":470,"y":760,"wires":[["e4cc99a2.607608"]]},{"id":"81f47ae9.345d48","type":"telegram command","z":"3a912c7a.731e7c","name":"/off","command":"/off","bot":"c508e412.1fe548","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":470,"y":820,"wires":[["253df080.e504e"]]},{"id":"e4cc99a2.607608","type":"function","z":"3a912c7a.731e7c","name":"onMessage","func":"msg.payload = \"on\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["44b24353.cf7d3c"]]},{"id":"253df080.e504e","type":"function","z":"3a912c7a.731e7c","name":"offMessage","func":"msg.payload = \"off\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["44b24353.cf7d3c"]]},{"id":"1acbbbd7.8d57d4","type":"telegram sender","z":"3a912c7a.731e7c","name":"","bot":"c508e412.1fe548","haserroroutput":false,"outputs":1,"x":1130,"y":260,"wires":[["85b74554.9af578"]]},{"id":"f57c192c.b234e8","type":"function","z":"3a912c7a.731e7c","name":"setChatId","func":"msg.payload = {\n    content:msg.payload,\n    type:\"message\",\n    chatId:915660758\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["5b284479.1be45c"]]},{"id":"5b284479.1be45c","type":"function","z":"3a912c7a.731e7c","name":"parseJSONMessage","func":"let outputJSON = msg.payload.content;\nlet state = JSON.parse(outputJSON);\nmsg.payload.content = \n`State:\n\nRed: ${state.red ? 'ON' : 'OFF'}\nOrange: ${state.orange ? 'ON' : 'OFF'}\nGreen: ${state.green  ? 'ON' : 'OFF'}\n`\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":260,"wires":[["1acbbbd7.8d57d4"]]},{"id":"aa7c84fb.c907f","type":"telegram receiver","z":"3a912c7a.731e7c","name":"Undeclared input","bot":"c508e412.1fe548","saveDataDir":"","filterCommands":false,"x":500,"y":360,"wires":[["ed72a03a.749818"],[]]},{"id":"d0ac148d.ab1b48","type":"telegram sender","z":"3a912c7a.731e7c","name":"","bot":"c508e412.1fe548","haserroroutput":false,"outputs":1,"x":1090,"y":360,"wires":[[]]},{"id":"ed72a03a.749818","type":"function","z":"3a912c7a.731e7c","name":"handleUnknownInputMessage","func":"if(['/on','/off','/start','/help','/red','/green','/orange','/photo'].includes(msg.payload.content))\nreturn;\n\nif(!msg.payload.content.startsWith('/')){\n    msg.payload.content = `Free-text not supported, to see a list of available commands, type /help`;\n    return msg;\n}else{\n    msg.payload.content = `Unknown input: '${msg.payload.content}'\\nTo see a list of available commands, type /help`;\n    return msg;  \n}\n\n","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["d0ac148d.ab1b48"]]},{"id":"85b74554.9af578","type":"imagecapture","z":"3a912c7a.731e7c","name":"Image Capture","configfile":"/home/pi/fswebcam.conf","x":1360,"y":260,"wires":[["2fd447c8.a88178"]]},{"id":"b692fe0a.60f93","type":"file","z":"3a912c7a.731e7c","name":"Store File","filename":"/home/pi/Pictures/webcam.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1560,"y":560,"wires":[["2fb7a908.e1d0d6"]]},{"id":"b51dd50c.bbd1f8","type":"function","z":"3a912c7a.731e7c","name":"mapBuffer","func":"msg.payload = msg.payload.capturedImg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":560,"wires":[["b692fe0a.60f93"]]},{"id":"48309a98.373054","type":"telegram sender","z":"3a912c7a.731e7c","name":"","bot":"c508e412.1fe548","haserroroutput":false,"outputs":1,"x":1590,"y":620,"wires":[[]]},{"id":"e38fa23d.6196a","type":"function","z":"3a912c7a.731e7c","name":"setChatId","func":"msg.payload = {\n    content: \"/home/pi/Pictures/webcam.jpg\",\n    type:\"photo\",\n    chatId:915660758\n}\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":620,"wires":[["48309a98.373054"]]},{"id":"2fb7a908.e1d0d6","type":"delay","z":"3a912c7a.731e7c","name":"delay","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1710,"y":560,"wires":[["e38fa23d.6196a"]]},{"id":"2fd447c8.a88178","type":"image","z":"3a912c7a.731e7c","name":"","width":"360","data":"payload.capturedImg","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":1560,"y":260,"wires":[["b51dd50c.bbd1f8"]]},{"id":"ffcba702.5758b8","type":"telegram command","z":"3a912c7a.731e7c","name":"/photo","command":"/photo","bot":"c508e412.1fe548","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1170,"y":200,"wires":[["85b74554.9af578"]]}]