Arduino Soil Sensor MQTT/SoilReaderSender/flows.json
[{"id":"abf79b77.ec5958","type":"tab","label":"Input","disabled":false,"info":""},{"id":"59906611.8f5d48","type":"tab","label":"A0 Messages","disabled":false,"info":""},{"id":"97a3a467.80c6c","type":"tab","label":"DHT11 Sensor Messages","disabled":false,"info":""},{"id":"92f2b114.a5bb08","type":"mqtt-broker","name":"MQTT Unraid","broker":"192.168.10.250","port":"1883","clientid":"nodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b6aa4173.bff59","type":"ui_tab","name":"Bonsai trees","icon":"fa-tree","order":1,"disabled":false,"hidden":false},{"id":"1b05cc20.7564d4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8c983dc.5966c","type":"ui_group","name":"Seiju Elm","tab":"b6aa4173.bff59","order":1,"disp":true,"width":"6","collapse":true},{"id":"9e0ecb68.f87ca","type":"mongodb","hostname":"192.168.10.250","topology":"direct","connectOptions":"","port":"27017","db":"nodered","name":""},{"id":"a23d5a99.c03468","type":"ui_group","name":"Environment","tab":"83973585.946858","order":2,"disp":true,"width":"6","collapse":true},{"id":"83973585.946858","type":"ui_tab","name":"Environment","icon":"fa-thermometer-half","order":2,"disabled":false,"hidden":false},{"id":"9d8b143e.d8e56","type":"json","z":"abf79b77.ec5958","name":"","property":"payload","action":"","pretty":false,"x":370,"y":280,"wires":[["a94f9f5f.6a8b9"]]},{"id":"4f278035.7996","type":"change","z":"abf79b77.ec5958","name":"extract Moisture Sensor Reading","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.A0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["47765a63.5ab39c"]]},{"id":"cb8ff20c.4be918","type":"mqtt in","z":"abf79b77.ec5958","name":"","topic":"analogRead","qos":"2","datatype":"auto","broker":"92f2b114.a5bb08","x":110,"y":280,"wires":[["f9d1f1ed.3a15f8"]]},{"id":"a94f9f5f.6a8b9","type":"function","z":"abf79b77.ec5958","name":"addTimeStamp","func":"const timestamp = new Date();\nflow.timestamp = timestamp.toLocaleString('en-US', { timeZone: 'Africa/Johannesburg' });\nmsg.payload[\"timestamp\"] = timestamp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":400,"wires":[["d8d1345a.21f658"]]},{"id":"f9d1f1ed.3a15f8","type":"delay","z":"abf79b77.ec5958","name":"throttle","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":280,"wires":[["9d8b143e.d8e56"]]},{"id":"ab812155.7fa3a8","type":"mongodb out","z":"abf79b77.ec5958","mongodb":"9e0ecb68.f87ca","name":"","collection":"arduinoSeijuElmTemperature","payonly":false,"upsert":false,"multi":false,"operation":"store","x":350,"y":680,"wires":[]},{"id":"47765a63.5ab39c","type":"link out","z":"abf79b77.ec5958","name":"link_out_a0","links":["fe641766.0c8a2"],"x":855,"y":340,"wires":[]},{"id":"fe641766.0c8a2","type":"link in","z":"59906611.8f5d48","name":"link_in_a0","links":["47765a63.5ab39c"],"x":305,"y":240,"wires":[["5a2f6ac9.7090b4"]]},{"id":"d8d1345a.21f658","type":"change","z":"abf79b77.ec5958","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[["4f278035.7996","bab4af5b.b0b288"]]},{"id":"5a2f6ac9.7090b4","type":"range","z":"59906611.8f5d48","minin":"327","maxin":"588","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"A0: map 327:588 to 0:100","x":470,"y":240,"wires":[["7550f7bb.5f5cf8"]]},{"id":"c5d7af98.2c0878","type":"ui_chart","z":"59906611.8f5d48","name":"","group":"e8c983dc.5966c","order":3,"width":0,"height":0,"label":"Soil Moisture History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"600","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#59a2d4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1020,"y":240,"wires":[[]]},{"id":"c28bd069.2bc06","type":"ui_button","z":"59906611.8f5d48","name":"","group":"e8c983dc.5966c","order":4,"width":0,"height":0,"passthru":false,"label":"Water 5s","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":980,"y":280,"wires":[["b651c1bb.a42068"]]},{"id":"a42bcd46.e540b","type":"ui_toast","z":"59906611.8f5d48","position":"dialog","displayTime":"5","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1450,"y":280,"wires":[[]]},{"id":"b651c1bb.a42068","type":"function","z":"59906611.8f5d48","name":"","func":"msg.payload = `Cannot connect to pump relay 1`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":280,"wires":[["5a621966.e696"]]},{"id":"ae435370.11d088","type":"ui_media","z":"59906611.8f5d48","group":"e8c983dc.5966c","name":"","width":0,"height":0,"order":1,"category":"Images","file":"seiju elm.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":970,"y":200,"wires":[[]]},{"id":"5a621966.e696","type":"delay","z":"59906611.8f5d48","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"2500","randomUnits":"milliseconds","drop":false,"x":1300,"y":280,"wires":[["a42bcd46.e540b"]]},{"id":"7550f7bb.5f5cf8","type":"rbe","z":"59906611.8f5d48","name":"reduceNoise","func":"deadband","gap":"1","start":"","inout":"out","property":"payload","x":750,"y":240,"wires":[["c5d7af98.2c0878"]]},{"id":"ba2a2c92.cb3a4","type":"ui_button","z":"59906611.8f5d48","name":"","group":"e8c983dc.5966c","order":4,"width":0,"height":0,"passthru":false,"label":"Clear History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":750,"y":180,"wires":[["c5d7af98.2c0878"]]},{"id":"40acbfb6.9945","type":"ui_chart","z":"97a3a467.80c6c","name":"","group":"a23d5a99.c03468","order":1,"width":0,"height":0,"label":"DHT11 Sensor Information","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#3ed62d","#ed0f19","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":880,"y":360,"wires":[[]]},{"id":"bab4af5b.b0b288","type":"link out","z":"abf79b77.ec5958","name":"link_out_dht11","links":["3fce98e2.38375"],"x":495,"y":480,"wires":[]},{"id":"3fce98e2.38375","type":"link in","z":"97a3a467.80c6c","name":"","links":["bab4af5b.b0b288"],"x":315,"y":320,"wires":[["d6b7c691.108cb"]]},{"id":"d6b7c691.108cb","type":"function","z":"97a3a467.80c6c","name":"","func":"var temperature = {\n    payload:  msg.payload.TC,\n    topic: \"Temperature\"\n};\nvar humidity = {\n    payload : msg.payload.HP,\n    topic: \"Humidity\"\n};\nvar heatIndex = {\n    payload: msg.payload.HI,\n    topic: \"Heat Index\"\n};\n\nreturn [temperature,humidity,heatIndex];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["40acbfb6.9945","1046152.dc97e6b"],["40acbfb6.9945","a6f6004d.2fc86"],["55359a07.b0b87c"]]},{"id":"1046152.dc97e6b","type":"ui_gauge","z":"97a3a467.80c6c","name":"","group":"a23d5a99.c03468","order":3,"width":"2","height":"2","gtype":"donut","title":"Temperature","label":"degrees","format":"{{value}}°C","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":100,"wires":[]},{"id":"a6f6004d.2fc86","type":"ui_gauge","z":"97a3a467.80c6c","name":"","group":"a23d5a99.c03468","order":4,"width":"2","height":"2","gtype":"donut","title":"Humidity","label":"Percent","format":"{{value}}%","min":0,"max":"100","colors":["#ee1526","#e6e600","#1ec41a"],"seg1":"","seg2":"","x":800,"y":140,"wires":[]},{"id":"2ea06491.2443ec","type":"ui_gauge","z":"97a3a467.80c6c","name":"","group":"a23d5a99.c03468","order":5,"width":"2","height":"2","gtype":"donut","title":"Heat Index","label":"°F","format":"{{value}}","min":"60","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"","x":810,"y":180,"wires":[]},{"id":"55359a07.b0b87c","type":"function","z":"97a3a467.80c6c","name":"Math.round","func":"msg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":360,"wires":[["2ea06491.2443ec","40acbfb6.9945"]]},{"id":"2f2bd344.af4db4","type":"ui_media","z":"97a3a467.80c6c","group":"a23d5a99.c03468","name":"","width":"6","height":"2","order":6,"category":"Images","file":"heatIndex.png","layout":"center","showcontrols":false,"loop":false,"onstart":false,"scope":"local","tooltip":"","x":630,"y":480,"wires":[[]]}]