Arduino Soil Sensor MQTT/SoilReaderSender/flows.json
[
    {
        "id": "abf79b77.ec5958",
        "type": "tab",
        "label": "Input",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c742ded6.a2c3d",
        "type": "tab",
        "label": "Telegram Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "92f2b114.a5bb08",
        "type": "mqtt-broker",
        "name": "MQTT Unraid",
        "broker": "192.168.10.250",
        "port": "1883",
        "clientid": "nodeRed",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b6aa4173.bff59",
        "type": "ui_tab",
        "name": "Bonsai trees",
        "icon": "fa-tree",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b05cc20.7564d4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e8c983dc.5966c",
        "type": "ui_group",
        "name": "Seiju Elm",
        "tab": "b6aa4173.bff59",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9e0ecb68.f87ca",
        "type": "mongodb",
        "hostname": "192.168.10.250",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "nodered",
        "name": ""
    },
    {
        "id": "a23d5a99.c03468",
        "type": "ui_group",
        "name": "Environment",
        "tab": "b6aa4173.bff59",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3aee0419.f359ec",
        "type": "telegram bot",
        "botname": "Bonsai Automation Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "d92f504d.052e1",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "8c1fe2d4.3438d",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "dbd85f09.8e93d",
        "type": "serial-port",
        "serialport": "",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "9d8b143e.d8e56",
        "type": "json",
        "z": "abf79b77.ec5958",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "a94f9f5f.6a8b9"
            ]
        ]
    },
    {
        "id": "4f278035.7996",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "extract A0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SeijuElm_sensor1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "fc2e2db9.5be81"
            ]
        ]
    },
    {
        "id": "cb8ff20c.4be918",
        "type": "mqtt in",
        "z": "abf79b77.ec5958",
        "name": "",
        "topic": "analogRead",
        "qos": "2",
        "datatype": "auto",
        "broker": "92f2b114.a5bb08",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "f9d1f1ed.3a15f8"
            ]
        ]
    },
    {
        "id": "a94f9f5f.6a8b9",
        "type": "function",
        "z": "abf79b77.ec5958",
        "name": "addTimeStamp",
        "func": "const timestamp = new Date();\nflow.timestamp = timestamp.toLocaleString('en-US', { timeZone: 'Africa/Johannesburg' });\nmsg.payload[\"timestamp\"] = timestamp;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "d8d1345a.21f658"
            ]
        ]
    },
    {
        "id": "f9d1f1ed.3a15f8",
        "type": "delay",
        "z": "abf79b77.ec5958",
        "name": "throttle",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "9d8b143e.d8e56"
            ]
        ]
    },
    {
        "id": "ab812155.7fa3a8",
        "type": "mongodb out",
        "z": "abf79b77.ec5958",
        "mongodb": "9e0ecb68.f87ca",
        "name": "",
        "collection": "arduinoSeijuElmTemperature",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "d8d1345a.21f658",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "4f278035.7996",
                "391a326e.1545fe",
                "ac42fad5.020bc8"
            ]
        ]
    },
    {
        "id": "9096e7d5.3e9858",
        "type": "ui_chart",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "e8c983dc.5966c",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "604800",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#59a2d4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 2010,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a326addf.a91db",
        "type": "ui_media",
        "z": "abf79b77.ec5958",
        "group": "e8c983dc.5966c",
        "name": "",
        "width": "6",
        "height": "5",
        "order": 2,
        "category": "Images",
        "file": "20201229_193123.jpg",
        "layout": "expand",
        "showcontrols": false,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 2010,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6732a4dc.02494c",
        "type": "ui_button",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "e8c983dc.5966c",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 1850,
        "y": 320,
        "wires": [
            [
                "9096e7d5.3e9858"
            ]
        ]
    },
    {
        "id": "a9497bca.4381b8",
        "type": "ui_chart",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "a23d5a99.c03468",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "DHT11 Sensor Information",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#3ed62d",
            "#ed0f19",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1320,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "391a326e.1545fe",
        "type": "function",
        "z": "abf79b77.ec5958",
        "name": "",
        "func": "var temperature = {\n    payload:  msg.payload.TC,\n    topic: \"Temperature\"\n};\nvar humidity = {\n    payload : msg.payload.HP,\n    topic: \"Humidity\"\n};\nvar heatIndex = {\n    payload: msg.payload.HI,\n    topic: \"Heat Index\"\n};\n\nreturn [temperature,humidity,heatIndex];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "a9497bca.4381b8",
                "27c48571.2d48ca",
                "cfd06bb0.f3f818"
            ],
            [
                "a9497bca.4381b8",
                "592f8090.89426",
                "a645c763.e7aae8"
            ],
            [
                "9bfa02b8.3069b",
                "993e1c60.ee77e"
            ]
        ]
    },
    {
        "id": "27c48571.2d48ca",
        "type": "ui_gauge",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "a23d5a99.c03468",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "Temperature",
        "label": "degrees",
        "format": "{{value}}°C",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1270,
        "y": 520,
        "wires": []
    },
    {
        "id": "592f8090.89426",
        "type": "ui_gauge",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "a23d5a99.c03468",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "Humidity",
        "label": "Percent",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#ee1526",
            "#e6e600",
            "#1ec41a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1260,
        "y": 560,
        "wires": []
    },
    {
        "id": "9933d3d0.189ed",
        "type": "ui_gauge",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "a23d5a99.c03468",
        "order": 4,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "Heat Index",
        "label": "°F",
        "format": "{{value}}",
        "min": "60",
        "max": "130",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "",
        "x": 1270,
        "y": 600,
        "wires": []
    },
    {
        "id": "9bfa02b8.3069b",
        "type": "function",
        "z": "abf79b77.ec5958",
        "name": "Math.round",
        "func": "msg.payload = Math.round(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 700,
        "wires": [
            [
                "9933d3d0.189ed",
                "a9497bca.4381b8"
            ]
        ]
    },
    {
        "id": "3fe8467b.03443a",
        "type": "ui_media",
        "z": "abf79b77.ec5958",
        "group": "a23d5a99.c03468",
        "name": "",
        "width": "6",
        "height": "2",
        "order": 5,
        "category": "Images",
        "file": "heatIndex.png",
        "layout": "center",
        "showcontrols": false,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 850,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5be48a1e.3088d4",
        "type": "ui_button",
        "z": "abf79b77.ec5958",
        "name": "",
        "group": "a23d5a99.c03468",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 850,
        "y": 740,
        "wires": [
            [
                "a9497bca.4381b8"
            ]
        ]
    },
    {
        "id": "ac42fad5.020bc8",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "extract A1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SeijuElm_sensor2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "9c542da8.dfe7c"
            ]
        ]
    },
    {
        "id": "9c542da8.dfe7c",
        "type": "range",
        "z": "abf79b77.ec5958",
        "minin": "535",
        "maxin": "275",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "DFRobot Calibration",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "1f5b4a01.f27d66"
            ]
        ]
    },
    {
        "id": "fc2e2db9.5be81",
        "type": "range",
        "z": "abf79b77.ec5958",
        "minin": "535",
        "maxin": "275",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "DFRobot Calibration",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "1f5b4a01.f27d66"
            ]
        ]
    },
    {
        "id": "1f5b4a01.f27d66",
        "type": "moving-average",
        "z": "abf79b77.ec5958",
        "name": "",
        "amount": 10,
        "weight": "cumulative",
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "3fe3a11f.09448e",
                "fd5a215d.98a9d"
            ]
        ]
    },
    {
        "id": "a947218b.af3d",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Soil Moisture Reading",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 200,
        "wires": [
            [
                "9096e7d5.3e9858"
            ]
        ]
    },
    {
        "id": "3fe3a11f.09448e",
        "type": "rbe",
        "z": "abf79b77.ec5958",
        "name": "minimumChange(1)",
        "func": "deadbandEq",
        "gap": "1",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "a947218b.af3d"
            ]
        ]
    },
    {
        "id": "5ed73a25.f8f614",
        "type": "telegram command",
        "z": "c742ded6.a2c3d",
        "name": "/start",
        "command": "/start",
        "bot": "3aee0419.f359ec",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "33dd0dec.ca5172"
            ]
        ]
    },
    {
        "id": "98f543b8.ad70e",
        "type": "telegram sender",
        "z": "c742ded6.a2c3d",
        "name": "",
        "bot": "3aee0419.f359ec",
        "haserroroutput": false,
        "outputs": 1,
        "x": 930,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "33dd0dec.ca5172",
        "type": "function",
        "z": "c742ded6.a2c3d",
        "name": "startMessage",
        "func": "msg.payload.content = \n`Welcome to the Bonsai Monitoring Bot\n\nYou can send:\n\n/status - get status of plants\n`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "98f543b8.ad70e"
            ]
        ]
    },
    {
        "id": "d365ecf0.c8888",
        "type": "telegram command",
        "z": "c742ded6.a2c3d",
        "name": "/help",
        "command": "/help",
        "bot": "3aee0419.f359ec",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "33dd0dec.ca5172"
            ],
            []
        ]
    },
    {
        "id": "fd5a215d.98a9d",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "seiju_elm_moisture",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7b5e9711.a95298",
        "type": "telegram command",
        "z": "c742ded6.a2c3d",
        "name": "/status",
        "command": "/status",
        "bot": "3aee0419.f359ec",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "29328086.6a74b"
            ]
        ]
    },
    {
        "id": "cfd06bb0.f3f818",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "env_temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a645c763.e7aae8",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "env_humidity",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "993e1c60.ee77e",
        "type": "change",
        "z": "abf79b77.ec5958",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "env_heatindex",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3fd7774.b620a88",
        "type": "telegram sender",
        "z": "c742ded6.a2c3d",
        "name": "",
        "bot": "3aee0419.f359ec",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "29328086.6a74b",
        "type": "function",
        "z": "c742ded6.a2c3d",
        "name": "statusMessage",
        "func": "\nlet heat_classification = '';\nlet hi = global.get('env_heatindex');\n\nif(hi <= 80)\n    heat_classification = \"Normal\";\nelse if(hi <= 90)\n    heat_classification = \"Caution\";\nelse if(hi<= 103)\n    heat_classification = \"Extreme Caution\";\nelse if(hi <= 124)\n    heat_classification = \"Danger\";\nelse\n    heat_classification = \"Extreme Danger\"\n\n\n\nmsg.payload.content = \n`Environment:\n- Temperature: ${global.get('env_temperature')}°C\n- Humidity: ${global.get('env_humidity')}%\n- Heat Index: ${heat_classification}\n\nTrees:\n- Seiju Elm Soil Moisture: ${global.get('seiju_elm_moisture')}%`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "3fd7774.b620a88"
            ]
        ]
    }
]